<p id="notice"><%= notice %></p>

<% content_for :title do %>
    <%= @user.name %>のプロフィール
<% end %>

<div class='container-title'>
  <h1>プロフィール</h1>
</div>

<div class='user-profile'>
  <div class='user-profile-left'>

    <div class='user-profile-left-name'>
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h1><%= @user.name %></h1>
    </div>

    <div class="stats">
      <%= render 'shared/stats' %>
    </div>

    <div class='user-profile-left-body'>
      <p><%= @user.profile %></p>
    </div>

    <p>登録日：<%= @user.created_at.strftime('%Y/%m/%d') %></p>

    <% if @current_user && @user.id != @current_user.id%>
      <%= render 'follow_form' %>
    <%end%>

    <% if @current_user && @user.id == @current_user.id%>
        <div class='user-profile-left-btn'>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
        </div>
    <%end%>
  </div>

  <div class='user-profile-right'>
    <div class="user-tabs">
        <p class="active"><%= link_to("投稿一覧", "/users/#{@user.id}") %></p>
      <%if @current_user != nil%>
        <p><%= link_to("お気に入り", "/users/#{@user.id}/likes") %></p>
      <%end%>
    </div>

    <div class='user-profile-right-index'>
      <% @user.posts.each do |post| %>
        <div class='content-index-item'>
          <h1><%= post.title %></h1>
          <%= link_to '', post %>
          <div class='content-index-item-bottom'>
            <div class='content-index-item-bottom-right'>
              <p>投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></p>
              <span class="fa fa-heart like-btn-unlike"></span>
              <%= @likes_count = Like.where(post_id: post.id).count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='container-footer'>
  <p><%= link_to '戻る', '/' %></p>
</div>
