<p id="notice"><%= notice %></p>

<% content_for :title do %>
    <%= @user.name %>のプロフィール
<% end %>

<div class='container-title'>
  <h1>プロフィール</h1>
</div>

<div class='index-profile'>
  <div class='index-profile-status'>
    <div class='index-profile-status-img'>
      <div class='index-profile-status-img-name'>
        <%= link_to image_tag("/user_images/#{@user.image_name}"),"/users/#{@user.id}" %>
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="stats">
        <%= render 'shared/stats' %>
        <div class='stats-edit'>
          <% if @current_user && @user.id == @current_user.id%>
            <%= link_to "/users/#{@user.id}/edit", method: :get do %>
              <i class="fas fa-paste"></i> 編集する
            <% end %>
          <%end%>
            <% if @current_user && @user.id != @current_user.id%>
              <%= render 'follow_form' %>
            <%end%>
        </div>
      </div>
    </div>
  </div>

  <div class='index-profile-text'>
    <p><%= @user.profile %></p>
    <p class='date'>登録日：<%= @user.created_at.to_s(:datetime_jp) %></p>
  </div>

  <div class='index-profile-menu'>
    <%= link_to "/index/#{@user.id}", method: :get do %>
      <i class="fas fa-home"></i> TOP
    <% end %>
    <%= link_to "/users/#{@current_user.id}", method: :get do %>
      <i class="fas fa-address-card"></i> マイページ
    <% end %>
    <%= link_to "/users/#{@user.id}", method: :get do %>
      <i class="fas fa-book-reader"></i></i> 投稿一覧
    <% end %>
    <%= link_to "/users/#{@user.id}/likes", method: :get do %>
      <i class="fas fa-heart"></i></i> お気に入り
    <% end %>
  </div>
</div>

<div class='container-title'>
  <h1><%= @title %></h1>
</div>

  <div class='user-profile-right'>
    <% if @users.any? %>
        <%= render @users %>
    <% end %>
  </div>
