<p id="notice"><%= notice %></p>

<div class='container-title'>
  <h1>プロフィール</h1>
</div>

<div class='user-profile'>
  <div class='user-profile-left'>
    <div class='user-profile-left-name'>
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h1><%= @user.name %></h1>
    </div>
    <div class="stats">
      <%= render 'shared/stats' %>
    </div>
    <div class='user-profile-left-body'>
      <p><%= @user.profile %></p>
    </div>
    <p>登録日：<%= @user.created_at.strftime('%Y/%m/%d') %></p>
    <% if @current_user %>
      <%= render 'follow_form' %>
    <%end%>

    <% if @current_user %>
    <div class='user-profile-left-btn'>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <%end%>
    </div>
    <%end%>
  </div>

  <div class='user-profile-right'>
    <div class="user-tabs">
      <p class="active"><%= @title %></p>
    </div>


    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
    <% end %>

  </div>
</div>

<div class='container-footer'>
  <p><%= link_to '戻る', "/" %></p>
</div>
