<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="current-user" >
    <%= form.text_field :user_id , value: @current_user.id %>
  </div>

  <div class="field" maxlength="30">
    <%= form.label :タイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">

    <%= form.rich_text_area :content %>
  </div>


  <div class="actions">
    <%= form.submit "投稿する" %>
  </div>
<% end %>
