<p id="notice"><%= notice %></p>

<% content_for :title do %>
  <%= @post.title %>
<% end %>

<div class='content-index'>

<div class='container-title'>
  <h1><%= @post.title %></h1>
</div>

<div class='post-profile'>
  <div class='post-profile-left'>
    <p>投稿者:</p>
    <%= link_to image_tag("/user_images/#{@user.image_name}"),"/users/#{@user.id}" %>
    <%= link_to(@user.name, "/users/#{@user.id}") %>
  </div>
  <div class='post-profile-right'>
    <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  </div>
</div>

<div class='post-content'>
  <h2>概要</h2>
  <p><%= @post.content %></p>
  <div class='post-content-list'>
    <h2>STEP1</h2>
    <p><%= @post.step1 %></p>
    <h2>STEP2</h2>
    <p><%= @post.step2 %></p>
    <h2>STEP3</h2>
    <p><%= @post.step3 %></p>
  </div>
</div>

<% if @current_user && @user.id != @current_user.id%>
  <div id="likes_buttons<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post, like: @like } %>
  </div>
<%end%>


<div class="comment">
  <% if @current_user %>
  <p>記事にコメントする</p>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content, class: "form-control",placeholder: 'コメントを入力', rows: 5 %>
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div class ='comment-content'>
      <div class ='comment-content-profile'>
        <%= link_to image_tag("/user_images/#{c.user.image_name}"),"/users/#{c.user.id}" unless c.user.blank? %>
        <%= c.user.name unless c.user.blank? %>
        <p><%= c.created_at.strftime('%Y/%m/%d') unless c.created_at.blank? %></p>
        <% if @current_user == c.user %>
          <div class='comment-content-profile-delete'>
            <%= link_to 'コメント削除', comment_path(c.id) , data: {confirm: '本当に削除しますか？'}, method: :delete unless c.id.blank? %>
          </div>
        <%end%>
      </div>
      <p><%= c.content %></p>
    </div>
  <% end %>

</div>

<div class='container-footer'>
  <% if @current_user %>
    <div class='container-footer-list'>
      <% if @post.user_id == @current_user.id %>
        <%= link_to '記事を編集', edit_post_path(@post) %>
        <%= link_to '記事を削除', @post, method: :delete, data: { confirm: '本当に削除しますか?' } %>
      <%end%>
    </div>
  <%= link_to 'TOPへ', "/index/#{@user.id}" %>
  <% else %>
  <%= link_to 'TOPへ', "/" %>
  <%end%>
</div>

</div>
