<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <%= stylesheet_link_tag 'application','home','actiontext','scaffolds','posts','users','relationships', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class='header-left'>
        <%= link_to '３STEP', '/' %>
          <%= form_tag(posts_path,:method => 'get') do %>
              <%= text_field_tag :search %>
              <%= submit_tag '検索', class: "input-btn", :name => nil %>
          <% end %>
      </div>
      <div class='header-right'>
        <% if @current_user %>
        <div class='header-right-icon'>
          <%= link_to image_tag("/user_images/#{@current_user.image_name}"),"/users/#{@current_user.id}" %>
          <%= @current_user.name %>
        </div>

        <div class='header-right-menu'>
          <i class="fas fa-sign-out-alt"></i><%= link_to("ログアウト","/logout",{method: :post}) %>
        </div>

        <% else %>

        <div class='header-right-menu-1'>
          <i class="fas fa-user-plus"></i><%= link_to('新規登録', 'users/new') %>
        </div>
        <div class='header-right-menu-2'>
          <i class="fas fa-sign-in-alt"></i><%= link_to('ログイン', '/login') %>
        </div>
        <% end %>
      </div>
    </header>
  <div class='container'>
    <%= yield %>
  </div>
  </body>
</html>
